body{
    background-image:url(5.jpg);
   
    color: aliceblue;
   
}

#um {

    float: left;
}

header{
    background-image: url(7.jpg);
    opacity: 70%;
}


nav ul li{
    color: aliceblue;
    float: right;
}

nav ul li a:link {
display: block;
text-transform: uppercase;
margin-right:30px ;
padding-bottom: 3px;
text-decoration: none;
}